@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap; /*se a fonte nao funcionar ou nao instalar no sistema, ele faz o uso de uma fonte mais proxima e quando instalar volta a usar o montserrat*/
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weigt: 700;
  --text-weigth: 400;
  --menu-text-weigth: 500;
}

/*css reset*/
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  align-content: center;
  background-color: #000000;
}

h1 {
  font-family: "Montserrat";
  font-weight: var(--title-weigt);
  color: var(--primary-color);
}

header img {
  display: block;
}

a {
  font-family: "Monstserrat", sans-serif;
  color: white;
  text-decoration: none;
}
